<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h2><span th:text="${message}"/></h2>

<form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
    <p>Login: <input type="text" th:field="*{login}"/></p>
    <p>Email: <input type="text" th:field="*{email}"/></p>
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</br>
<div>
    <a th:href="@{'/users'}">back</a>
</div>
</body>
</html>