<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>users page</title>
</head>
<br>
<div>
    <h2>
        <span th:text="${message}"></span>
    </h2>
</div>
</br>
<table border="1">
    <thead>
    <tr>
        <th> id </th>
        <th> login </th>
        <th> email </th>
        <th> name </th>
        <th> orders </th>
        <th> update </th>
        <th> delete </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.id}"/></td>
        <td><span th:text="${user.login}"/></td>
        <td><span th:text="${user.email}"/></td>
        <td><span th:text="${user.name}"/></td>
        <td><span th:text="@{'/userOrders/' + ${user.id}}"/>show orders</td>
        <td><a th:href="@{'/updateUser/' + ${user.id}}">update</a></td>
        <td><a th:href="@{'/removeUser/' + ${user.id}}">remove</a></td>
    </tr>
    </tbody>
</table>
</br>
<div>
    <a th:href="@{'/newUser'}">add new user</a>
</div>
</br>
<div>
    <a th:href="@{'/createCard'}">add new card</a>
</div>
</br>
<div>
    <a th:href="@{'/createBook'}">add new book</a>
</div>
</br>
<div>
    <a th:href="@{'/'}">back</a>
</div>
</br>
</body>
</html>